.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 100px;
    }
}